body{
    text-align: center;
    color: cyan;
    background-color: black;
    background-image: url("/imgs/tile.jpg");
    background-repeat: repeat;
}

#holder{
    width:800px;
    margin:auto;
}

table{
    border: 1px solid white;
    display: inline-block;
}

a{
    color:plum;
}